In [245]:
origin_cell = 'A549'
origin_tf = 'ETS1'
origin_binding = 'AGCCGGAAGTT'
origin_cpg = 3

target_cell = 'GM12878' # GM12878 HepG2 K562 A549
target_tf = 'ETS1'

In [ ]:
origin_processed = f'processed/{origin_cell}_{origin_tf}_{origin_binding}.bed'

target_peaks = f'data/{target_cell}_{target_tf}_peaks.bed'
target_mehyl_plus = f'data/{target_cell}_wgbs_cpg_plus.bigWig'
target_mehyl_minus = f'data/{target_cell}_wgbs_cpg_minus.bigWig'

In [246]:
# Load origin_processed

import pandas as pd

df_origin = pd.read_csv(origin_processed, sep='\t')

In [247]:
df_origin

,0,1,2,3,4,5,6,7,8,9,sequence,methyl_plus,methylation_minus,binding_start,binding_end,methylation_binding_plus,methylation_binding_minus,methylation_class
0,chr14,77457480,77458112,.,1000,.,380.92914,-1.0,4.02510,262,TGGGACACCCTCACCTCTTCCGCACAGAGCCCTCCCTCTCAGGACA...,"[nan, nan, nan, nan, nan, 0.0, nan, 0.0, 0.0, ...","[nan, 0.0, 0.0, 0.0, nan, nan, nan, nan, nan, ...",545,556,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl
1,chr15,34969629,34969964,.,1000,.,181.23464,-1.0,4.02510,166,CCACTCCAGTGGAAACTAAAGGACCGCTCTGGGCAGCGGCAACCCT...,"[0.0, 0.0, nan, 0.0, nan, 0.0, 0.0, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, 0.0, ...",187,198,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl
2,chr14,77457480,77458112,.,1000,.,157.81796,-1.0,4.02510,462,TGGGACACCCTCACCTCTTCCGCACAGAGCCCTCCCTCTCAGGACA...,"[nan, nan, nan, nan, nan, 0.0, nan, 0.0, 0.0, ...","[nan, 0.0, 0.0, 0.0, nan, nan, nan, nan, nan, ...",545,556,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl
3,chr3,196287547,196288051,.,651,.,52.26339,-1.0,4.02510,252,CAGTCACCTCGCGGTCCCAGCCCCACAGTTTGTCCTCTCAAACAGA...,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",188,199,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl
4,chr12,50111719,50112223,.,1000,.,52.00456,-1.0,4.02510,252,AGCCGGGCTCTAGGGGGCGCGCGATCCACCTCCAGAAGGCCGGCTG...,"[nan, nan, 0.0, 0.0, nan, nan, nan, 0.0, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, 0.0, nan, nan, ...",255,266,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl
5,chr16,3106233,3106737,.,809,.,34.52442,-1.0,3.59229,252,AGGGGAGTGTGAGGCCGACCCTCGGCCGGGGAGGCTGGACCCGGGC...,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, 11.11111068725586, 0.0, 0.0, 12.5, nan, ...",303,314,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl
6,chr20,3209277,3209781,.,821,.,33.51741,-1.0,3.39224,252,GTGGTCTCTTCCGGTTCTTGAAGATAGCGTCCCTTAGGCAGGAGGG...,"[nan, nan, nan, nan, nan, 0.0, nan, 0.0, nan, ...","[0.0, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...",205,216,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl
7,chr12,50111925,50112429,.,722,.,24.55679,-1.0,2.16909,252,CGAGAGCACGGCGCGTCTGAGGATGCGTAGTAAGGATAACGGGCCC...,"[0.0, nan, nan, nan, nan, nan, 0.0, nan, 0.0, ...","[nan, 0.0, nan, 0.0, nan, 0.0, nan, nan, nan, ...",49,60,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl

In [248]:
# Binding_start_absolute

df_origin['binding_start_absolute'] = df_origin['1'] + df_origin['binding_start']
df_origin['binding_end_absolute'] = df_origin['1'] + df_origin['binding_end']

In [249]:
# Load target peaks

df_target_peaks = pd.read_csv(target_peaks, sep='\t',header=None)

In [250]:
df_target_peaks

           0          1          2  3     4  5          6    7        8    9
0       chr3   50359558   50359801  .  1000  .  318.67238 -1.0  4.04269  125
1      chr12    6852362    6852636  .  1000  .  299.60348 -1.0  4.04269  164
2      chr19   46850965   46851209  .  1000  .  282.13836 -1.0  4.04269  113
3      chr16   87950897   87951170  .  1000  .  275.23394 -1.0  4.04269  131
4      chr20   64062963   64063154  .  1000  .  271.39868 -1.0  4.04269   94
...      ...        ...        ... ..   ... ..        ...  ...      ...  ...
12907   chr6   32973460   32973716  .   549  .    4.41767 -1.0  0.03462  128
12908   chr7  130960539  130960795  .   755  .    4.39051 -1.0  0.03742  128
12909   chr9  124257924  124258180  .   613  .    4.37739 -1.0  0.04152  128
12910   chr4   75514515   75514771  .  1000  .    4.36375 -1.0  0.03777  128
12911   chrX   53422506   53422762  .   549  .    4.35158 -1.0  0.03841  128

[12912 rows x 10 columns]

In [251]:
from intervaltree import Interval, IntervalTree

# Create an IntervalTree for the target peaks
tree = IntervalTree()
for idx, row in df_target_peaks.iterrows():
    tree.add(Interval(row[1], row[2]))

# Function to find overlapping regions
def find_overlaps(start, end):
    return tree[start:end]

# Apply the function to each row in df_origin
df_origin['overlaps_w_target'] = df_origin.apply(lambda row: find_overlaps(row['binding_start_absolute'], row['binding_end_absolute']), axis=1)

# Display the results
df_origin[['binding_start_absolute', 'binding_end_absolute', 'overlaps_w_target']]

,binding_start_absolute,binding_end_absolute,overlaps_w_target
0,77458025,77458036,{}
1,34969816,34969827,"{(34969664, 34969920, None)}"
2,77458025,77458036,{}
3,196287735,196287746,"{(196287619, 196287875, None)}"
4,50111974,50111985,"{(50111825, 50112081, None)}"
5,3106536,3106547,"{(3106414, 3106670, None)}"
6,3209482,3209493,"{(3209336, 3209592, None)}"
7,50111974,50111985,"{(50111825, 50112081, None)}"

In [252]:
# Get methylation at target peaks

import pyBigWig

bw_plus = pyBigWig.open(target_mehyl_plus)   
bw_minus = pyBigWig.open(target_mehyl_minus)

def get_methylation_level(row):
    chrom = row[0]
    start = row['binding_start_absolute']
    end = row['binding_end_absolute']
    
    # Get the methylation level over the region
    methylation_plus = bw_plus.values(chrom, start, end)
    methylation_minus = bw_minus.values(chrom, start, end)
    
    return methylation_plus, methylation_minus

# Apply the function to get methylation levels
methylation_levels = df_origin.apply(get_methylation_level, axis=1)

# Assing
df_origin['target_methyl_plus'] = methylation_levels.apply(lambda x: x[0])
df_origin['target_methyl_minus'] = methylation_levels.apply(lambda x: x[1])

/tmp/ipykernel_2179199/3379457450.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  chrom = row[0]

In [253]:
df_origin

,0,1,2,3,4,5,6,7,8,9,...,binding_start,binding_end,methylation_binding_plus,methylation_binding_minus,methylation_class,binding_start_absolute,binding_end_absolute,overlaps_w_target,target_methyl_plus,target_methyl_minus
0,chr14,77457480,77458112,.,1000,.,380.92914,-1.0,4.02510,262,...,545,556,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,77458025,77458036,{},"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ..."
1,chr15,34969629,34969964,.,1000,.,181.23464,-1.0,4.02510,166,...,187,198,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,34969816,34969827,"{(34969664, 34969920, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 33.33333206176758, n..."
2,chr14,77457480,77458112,.,1000,.,157.81796,-1.0,4.02510,462,...,545,556,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,77458025,77458036,{},"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ..."
3,chr3,196287547,196288051,.,651,.,52.26339,-1.0,4.02510,252,...,188,199,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,196287735,196287746,"{(196287619, 196287875, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ..."
4,chr12,50111719,50112223,.,1000,.,52.00456,-1.0,4.02510,252,...,255,266,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,50111974,50111985,"{(50111825, 50112081, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ..."
5,chr16,3106233,3106737,.,809,.,34.52442,-1.0,3.59229,252,...,303,314,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,3106536,3106547,"{(3106414, 3106670, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ..."
6,chr20,3209277,3209781,.,821,.,33.51741,-1.0,3.39224,252,...,205,216,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,3209482,3209493,"{(3209336, 3209592, None)}","[nan, nan, 0.0, 33.33333206176758, nan, nan, n...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ..."
7,chr12,50111925,50112429,.,722,.,24.55679,-1.0,2.16909,252,...,49,60,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,50111974,50111985,"{(50111825, 50112081, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ..."

In [254]:
df_origin.iloc[0].target_methyl_plus

[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, nan, nan]

In [255]:
df_origin.iloc[0].methylation_binding_plus

'[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, nan, nan]'

In [256]:
# Classifiy the peaks according to no-methyl | c-methyl | g-methyl | cg-methyl at postiions 3and4

def classify_peak(row):

    # Get methylation values at positions 3 and 4 (0-indexed)
    val_c = row['target_methyl_plus'][origin_cpg]
    val_g = row['target_methyl_minus'][origin_cpg+1]

    # Consider a value > 0 (and not NaN) as methylated
    c_meth = pd.notnull(val_c) and val_c > 0
    g_meth = pd.notnull(val_g) and val_g > 0
    
    if not c_meth and not g_meth:
        return 'no-methyl'
    elif c_meth and not g_meth:
        return 'c-methyl'
    elif not c_meth and g_meth:
        return 'g-methyl'
    elif c_meth and g_meth:
        return 'cg-methyl'

df_origin['target_methylation_class'] = df_origin.apply(classify_peak, axis=1)

In [257]:
df_origin

,0,1,2,3,4,5,6,7,8,9,...,binding_end,methylation_binding_plus,methylation_binding_minus,methylation_class,binding_start_absolute,binding_end_absolute,overlaps_w_target,target_methyl_plus,target_methyl_minus,target_methylation_class
0,chr14,77457480,77458112,.,1000,.,380.92914,-1.0,4.02510,262,...,556,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,77458025,77458036,{},"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl
1,chr15,34969629,34969964,.,1000,.,181.23464,-1.0,4.02510,166,...,198,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,34969816,34969827,"{(34969664, 34969920, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 33.33333206176758, n...",no-methyl
2,chr14,77457480,77458112,.,1000,.,157.81796,-1.0,4.02510,462,...,556,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,77458025,77458036,{},"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl
3,chr3,196287547,196288051,.,651,.,52.26339,-1.0,4.02510,252,...,199,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,196287735,196287746,"{(196287619, 196287875, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl
4,chr12,50111719,50112223,.,1000,.,52.00456,-1.0,4.02510,252,...,266,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,50111974,50111985,"{(50111825, 50112081, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl
5,chr16,3106233,3106737,.,809,.,34.52442,-1.0,3.59229,252,...,314,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,3106536,3106547,"{(3106414, 3106670, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl
6,chr20,3209277,3209781,.,821,.,33.51741,-1.0,3.39224,252,...,216,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,3209482,3209493,"{(3209336, 3209592, None)}","[nan, nan, 0.0, 33.33333206176758, nan, nan, n...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",c-methyl
7,chr12,50111925,50112429,.,722,.,24.55679,-1.0,2.16909,252,...,60,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,50111974,50111985,"{(50111825, 50112081, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl

In [258]:
# Check DNAse in target cell

df_target_dnase = pd.read_csv(f'data/{target_cell}_dnase.bed', sep='\t', header=None)

In [259]:
df_target_dnase

          0          1          2  3  4  5         6  7  8   9
0      chr1     268011     268100  .  0  .  0.497607 -1 -1  75
1      chr1     778620     778860  .  0  .  5.604630 -1 -1  75
2      chr1     827440     827600  .  0  .  1.361870 -1 -1  75
3      chr1     865908     865978  .  0  .  0.497607 -1 -1  75
4      chr1     959180     959420  .  0  .  1.440440 -1 -1  75
...     ...        ...        ... .. .. ..       ... .. ..  ..
50255  chrX  155966997  155967142  .  0  .  0.602366 -1 -1  75
50256  chrX  155997518  155997696  .  0  .  0.654746 -1 -1  75
50257  chrY    7724380    7724517  .  0  .  0.209519 -1 -1  75
50258  chrY   10627280   10627420  .  0  .  3.247540 -1 -1  75
50259  chrY   15355480   15355640  .  0  .  0.969024 -1 -1  75

[50260 rows x 10 columns]

In [260]:
# Create an IntervalTree for the target DNase regions
dnase_tree = IntervalTree()
for idx, row in df_target_dnase.iterrows():
    dnase_tree.add(Interval(row[1], row[2]))

# Function to find overlapping DNase regions
def find_dnase_overlaps(start, end):
    return dnase_tree[start:end]

# Apply the function to each row in df_origin
df_origin['dnase_overlaps'] = df_origin.apply(lambda row: find_dnase_overlaps(row['binding_start_absolute'], row['binding_end_absolute']), axis=1)

# Display the results
df_origin[['binding_start_absolute', 'binding_end_absolute', 'dnase_overlaps']]

,binding_start_absolute,binding_end_absolute,dnase_overlaps
0,77458025,77458036,{}
1,34969816,34969827,"{(34969720, 34969920, None)}"
2,77458025,77458036,{}
3,196287735,196287746,"{(196287708, 196287920, None)}"
4,50111974,50111985,"{(50111740, 50112200, None), (50111960, 501120..."
5,3106536,3106547,{}
6,3209482,3209493,"{(3209260, 3209560, None)}"
7,50111974,50111985,"{(50111740, 50112200, None), (50111960, 501120..."

In [261]:
df_origin

,0,1,2,3,4,5,6,7,8,9,...,methylation_binding_plus,methylation_binding_minus,methylation_class,binding_start_absolute,binding_end_absolute,overlaps_w_target,target_methyl_plus,target_methyl_minus,target_methylation_class,dnase_overlaps
0,chr14,77457480,77458112,.,1000,.,380.92914,-1.0,4.02510,262,...,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,77458025,77458036,{},"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,{}
1,chr15,34969629,34969964,.,1000,.,181.23464,-1.0,4.02510,166,...,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,34969816,34969827,"{(34969664, 34969920, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 33.33333206176758, n...",no-methyl,"{(34969720, 34969920, None)}"
2,chr14,77457480,77458112,.,1000,.,157.81796,-1.0,4.02510,462,...,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,77458025,77458036,{},"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,{}
3,chr3,196287547,196288051,.,651,.,52.26339,-1.0,4.02510,252,...,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,196287735,196287746,"{(196287619, 196287875, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,"{(196287708, 196287920, None)}"
4,chr12,50111719,50112223,.,1000,.,52.00456,-1.0,4.02510,252,...,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,50111974,50111985,"{(50111825, 50112081, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,"{(50111740, 50112200, None), (50111960, 501120..."
5,chr16,3106233,3106737,.,809,.,34.52442,-1.0,3.59229,252,...,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,3106536,3106547,"{(3106414, 3106670, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,{}
6,chr20,3209277,3209781,.,821,.,33.51741,-1.0,3.39224,252,...,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,3209482,3209493,"{(3209336, 3209592, None)}","[nan, nan, 0.0, 33.33333206176758, nan, nan, n...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",c-methyl,"{(3209260, 3209560, None)}"
7,chr12,50111925,50112429,.,722,.,24.55679,-1.0,2.16909,252,...,"[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,50111974,50111985,"{(50111825, 50112081, None)}","[nan, nan, 0.0, 0.0, nan, nan, nan, nan, nan, ...","[nan, 0.0, nan, nan, 0.0, 0.0, nan, nan, 0.0, ...",no-methyl,"{(50111740, 50112200, None), (50111960, 501120..."

In [262]:
# Save as a bed file
df_origin.to_csv(f'processed/{origin_cell}_{origin_tf}_{origin_binding}_target_{target_cell}.bed', sep='\t', index=False)